{% extends "misc/base.html" %}
{% set page_title = _('Server error') %}
{% block content %}
<h1>{{ _("Error 500") }}</h1>
<p class="lead">
{{ _("Error generating page <code>%(url)s</code>. Please <a href='%(contact)s'>contact us</a>.", url=request.url, contact=url_for('frontend.contacts')) }}</p>
<p><a href="{{ url_for('frontend.index') }}">{{ _("&larr; Back to front page" ) }}</a></p>
{% endblock %}
